<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid">
        <div class="row py-sm-3 px-sm-5">
                <div class="col-sm-6">
                        <img src="/images/logo.png" class="nav-brand" alt="">
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-1 justify-content-end d-flex">
                <label><b>Call Us On</b> 
                <p>1800-2424-2424</p></label>
                </div>
                <div class="col-sm-1 justify-content-end d-flex">
                <label><b>Find Us On</b> <br>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-youtube"></i></label>       
                </div>
        </div>
</div>
    <nav>
            <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/donate">Donate</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/articles">Articles</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/careers">Careers</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                    </li>
            </ul>
    </nav>