<%- include('./includes/header.ejs') %>
<div class= "container-fluid" style="background-image:url('/images/careers.jpg'); height: 400px; background-repeat: no-repeat; background-size:cover;"></div>
<div class="container-fluid img-fluid text-center py-sm-4">
    <div class="row">
        <div class="col-sm-12">          
           <h2>We Are Currently Looking For</h2>
        </div>
    </div>
</div>
<%- include('./includes/footer.ejs') %>